.outer {
  width: 300px;
  max-width: 300px;
  /*margin-left: auto; hm, nop, lets keep left :-)
  margin-right: auto;*/
  line-height: 70px;
  border: solid 1px black;
  white-space: nowrap;
  overflow-x: scroll;
  //user-select: none; see hammer settings
}

.item {
  display: inline-block;
  width: 30px;
}
